{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "__APP__": true,
    "__DEV__": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "support/electron_modules"]
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
