:global {
  @import './components/MiniplayerVolume/MiniplayerVolume.scss';
  @import './components/MiniplayerYoutube/MiniplayerYoutube.scss';

  $white: white;
  $bg_white: white;
  $orange: #f7790f;
  $orange_mid: #f35403;

  /* Baraka */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Baraka */
  :root {
    --main-offset: 8px;
    --main-height: calc(100vh - var(--main-offset));
    --main-radius: 5px;
  }

  ::selection {
    background:transparent;
  }

  #root {
    z-index: 1;
    border-top-right-radius: var(--main-radius);
    border-top-left-radius: var(--main-radius);
  }

  #root, body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
  }

  /* Baraka */
  html {
    background-color: transparent;
  }

  miniplayer {
    position: absolute;
    top: var(--main-offset);
    right: 0;
    left: 0;
    width: 100vw;
    height: var(--main-height);
    background-color: transparent;
    border-top-right-radius: var(--main-radius);
    border-top-left-radius: var(--main-radius);
    color: $white;

    .miniContain {
      width: 100vw;
    }
  }

  html .align {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #root.mini > div > :not(.rp_selected) {
    display: none !important;
  }

  artwork,gradient {
    position: absolute;
    display: inline-block;
    top: 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH0AAAB9CAMAAAC4XpwXAAAAA1BMVEX///+nxBvIAAAAJklEQVRoge3BMQEAAADCoPVP7WkJoAAAAAAAAAAAAAAAAAAAALgBPYYAAU+UcFgAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    -webkit-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    display: inline-block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100vw;
    height: var(--main-height);
    -webkit-backface-visibility: hidden;
  }

  artwork::before,gradient::before {
    position: absolute;
    top: -43px;
    content: "";
    -webkit-clip-path: url(#radiantArrow);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH0AAAB9CAMAAAC4XpwXAAAAA1BMVEX///+nxBvIAAAAJklEQVRoge3BMQEAAADCoPVP7WkJoAAAAAAAAAAAAAAAAAAAALgBPYYAAU+UcFgAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    -webkit-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    margin-left: -14%; /* or -50px because its half of 100px */
    width: calc(100% + 100px); /* since our window is 356 than 240 (100vw) we need to add (100px) that otherwise radiantArrow looks skinny */
    height: var(--main-height);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  gradient {
    z-index: 1;
    background-image: linear-gradient(180deg,rgba(0,0,0,.3) 0,hsla(0,0%,100%,.05) 45%,hsla(0,0%,100%,.05) 55%,hsla(0,0%,100%,.05) 70%,rgba(0,0,0,.3));
  }

  gradient::before {
    background-image: linear-gradient(180deg,#b4b4b4,#e6e6e6 30%,$bg_white 50%,#ededed 70%,hsla(0,0%,77%,0))
  }

  gradient.diced::before {
    -webkit-clip-path: url(#radiantArrowDiced) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $orange), color-stop(100%, $orange_mid)) !important;

  }

  html gradient.diced,
  html gradient.diced::before {
    opacity: 1 !important;
  }

  gradient,
  gradient::before {
    transition: opacity 0.5s ease-out;
    opacity:0;
  }


  html:hover gradient,
  html:hover gradient::before {
    opacity: 1;
  }

  .drag {
    -webkit-app-region: drag;
    artwork::before, gradient::before {
      display: none !important;
    }
  }

  canvas {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: var(--main-height);
    background-color: rgba(0, 0, 0, 0.8);
    border-top-right-radius: var(--main-radius);
    border-top-left-radius: var(--main-radius);
    transition: opacity 0.5s ease-out;
    opacity:0;
    &.visible {
      opacity: 1;
    }
  }
}