.container {
  display: flex;
}

.empty {
  height: 64px;
  display:flex;
  align-items: center;
  justify-content: center;
  color: #666;

  div {
    flex: 1;
    text-align: center;
  }
}

.image {
  // flex: 1;
}

.details {
  padding-left: 1em;
  flex: 1;
  // display: flex;
  flex-direction: column;

  span {
    display: block;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span.title {
    font-weight: bold;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  width: 74px;
  text-align: center;

  svg {
    //pointer-events: none;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .thumb {
    flex: 1;
    text-align: center;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
